[submodule "minimal-bootstrap-hugo-theme"]
	path = minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme
